html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*css reset end*/
/*----------------*/
* {
    box-sizing: border-box;
    text-decoration: none;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  /*----------------*/
  .container{
    max-width:1024px;
    margin: 0 auto;
  }
  .header{
    background-position: center center;/*水平位移參數   垂直位移參數*/
                                        /*用了bg-image 要搭配用bg-position 不然無法自適應寬度*/
    background-image:url(../images/header_banner_desktop.png);
    height:420px;      /*pc版寫死了高度，但要在其他斷點用 height:auto*/
    text-align: center;
    position:relative;
    font-family: 'Noto Sans TC', sans-serif;
  }
  .header .nav{
    max-width:100%;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:10px 10px;
    background-color:rgba(0,0,0,0.75);
  }
  .header h1 a{
    display:block;
    background-image:url(../images/六角西餐廳logo.png);
    width:120px;
    height:24px;
    text-indent:101%;
    white-space: nowrap;
    overflow:hidden;  
  }
  .menu{
    display:flex;
  }
  .m-list{
    display:none;
    margin-right:3%;
  }
  .menu a{
    color:#fff;
    padding:0px 20px;
    font-weight: bold;
    display:block;
    
  }
  .menu a:hover{
    transform:scale(1.1);  /*在區塊元素中才有效果*/
    
  }
 @media(max-width:375px){
    .header{
        background-image:url(../images/header_banner_mobile.png) ;     
    }
    .menu{
       /*隱藏選單開始*/
       max-height: 0px;
       overflow: hidden;
       /*隱藏選單結束*/
       transition:max-height 2.3s;
       position: absolute;
       z-index: 100;
       top: 45px;
       left: 0;
       right: 0;
       flex-direction: column;
    }

    .menu a{
      border:1px solid #fff;
      background: #EFE9E7;
      color:#3D1101;
      padding-top:14px;
      padding-bottom: 14px;
    }
    .menu a:hover{       
      color:#fff;
      background:darkgray;
    }
    .m-list{
        display:block;
        color:#fff;
    }
    .m-list:active{
        transform:scale(1.1);
    }
    .menu-show {
      max-height:500px;
    }
 }
  .header .box{
    color:#fff;
    width:48%;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);  /*但因為對齊是用元素的左上來做定位，所以要將元素本身往左邊 50%，和往上 50%，讓元素對在正中間*/
    padding:35px 30px;
    background-color:rgba(0,0,0,0.3);
  }
  .header .box h2{
    font-size:36px;
    margin-bottom:16px;
  }
  .header .box p{
    line-height:1.3;
  }
  @media(max-width:768px){
    .header .box{
      width:65%;
    }
  }
  @media(max-width:375px){
    .header .box{
        width:95%;
      }
  }
  /*  header & banner end  */
  /*  footer  start        */
   .footer{
    font-family: 'Noto Sans TC', sans-serif;
    width:100%;
    background: #EFE9E7;
    display:flex;
    justify-content:space-between;
    padding:40px 20px;
    color:#3D1101;;
    line-height: 1.3;
   }
   .footer .info{
    display:flex;
    width:55%;
   }
   .footer h3{
    font-size:24px;
    font-weight:bold;
    margin-bottom: 1em;
   }
   .footer .about{
    width:50%;
    margin-right:25px;
   }
   .footer .tel li{
     margin-left:20px;
     list-style:disc;
   }
   .footer .link h2{
    font-size:49px;
    font-weight:bold;
   }
   .footer .link .app-link{
    display:flex;
    justify-content: flex-end;
   }
   @media(max-width:375px){
     .footer{
      flex-direction: column;
      justify-content:center;
     }
     .footer .info{
      flex-direction: column;
      width:90%;
     }
     .footer .about{
      width:100%;
      margin-bottom: 1.5em;
     }
     .footer .tel{
      margin-bottom: 1.5em;
     }
     .footer h3{
      margin-bottom: 0.3em;
     }
     .footer .link{
      text-align: right;
     }
   }
   .app-link a{
    margin:0 5px;
    display:block;
   }
   .app-link a:hover{
    transform:scale(1.1);
   }
   .app-link .google{
     color:#DB4437;
   }
   .app-link .tw{
    color:#41ABE1;
   }
   .app-link .fb{
    color:#3A5795;
   }
  /*    footer  end        */
  /*  index > faith  start  */
  .faith{
    font-family: 'Noto Sans TC', sans-serif;
    text-align: center;
    padding-top:50px ;
    padding-bottom:50px ;
    color:#3D1101;
    background: #EFE9E7;
  }
  .faith h2{
    font-size: 20px;
    line-height: 32px;
  }
  .line-box{
    display: inline-block;
    margin-left:2%;
    margin-right: 2%;
  }
  .faith-line{
    display: inline-block;
    width:15%;
    border-top:1px solid #979797;
    margin-bottom:20px;
  }
  .faith-card{
    display:flex;
    justify-content: space-around;
    margin-top: 30px;
  }
  .faith-card li{
    width:30%;
    margin-left: 2%;
    margin-right: 2%;
  }
  .faith-card img{
    border-radius: 50%;  /*圓型圖片去背技巧*/
  }
  .faith-card h3{
    font-size: 18px;
    margin: 20px;
  }
  .faith-card p{
    text-align: left;
    line-height: 1.2;
  }
  @media(max-width:375px){
    .faith-card{
      flex-wrap:wrap;
    }
    .faith-card li{
      width:96%;
      margin-bottom: 48px;
    }
    .faith-card p{
      width:80%;
      margin-left:10%;
      margin-right: 10%;
    }
  }
  /*  index > faith  end  */
  /*  index > chef-info start */
  .chef-info{
    width:100%;
    padding-left: 5%;
    padding-right: 5%;
    display:flex;
    justify-content: space-between;
    background-color: #3D1101 ;
    color:#EFE9E7;
    margin: 0 auto;
    
  } 
  .chef-info .chef-info-photo{
    width:50%;
    height:460px;
    background-color: #3D1101;
    background-repeat: no-repeat;
    background-position: center center;
    background-image:url(../images/main_chef_brown.png);
    margin-right:3%;
  }
  .chef-info .chef-info-text{
    width:46%;
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
  .chef-info .chef-info-text h3{
    font-size: 20px;
  }
  .chef-info .chef-info-text p{
    margin-top:5px;
    margin-bottom: 10px;
    line-height: 1.2;
    letter-spacing: 0.1em;
  }
  @media(max-width:375px){
    .chef-info{
      flex-direction: column;
      padding-left: 0;
      padding-right: 0;
    }
    .chef-info .chef-info-photo{
      width:100%;
    }
    .chef-info .chef-info-text{
      width:98%;
      margin-top:30px;
      margin-bottom: 30px;
      padding-left:10% ;
      padding-right:10% ;
    }
  }
  /*  index > chef-info end */
  /*  index > thoughts  start */
  .thoughts{
   margin: 0 auto;
   color:#3D1101;
   background: #EFE9E7;
   padding-top:50px;
   padding-bottom:50px;
   padding-left: 2%;
   padding-right: 2%;
  }
  .thoughts h2{
    font-size: 24px;
    margin-bottom: 50px;
    text-align: center;
  }
  .thoughts-card{
    display:flex;
    justify-content: space-evenly;
  }
  .thoughts-card li{
    display:flex;
    flex-direction: column;
    width:30%;
    position:relative;
    margin-left: 2%;
    margin-right: 2%;
  } 
  .thoughts-card img{
   border-radius:50%;
  }
  .thoughts-card .thoughts-img{
    display:flex;
    align-items: center;
  }
  .thoughts-card .thoughts-img h3{
    padding-left:6%;
  }
  .thoughts-card .thoughts-text{
    padding-left:28%; 
    margin-bottom: 16px;
    line-height: 1.2;
  }
  .thoughts-card .ps{
    position:absolute;
    right:-10px;
    bottom:0;
    
  }
  @media(max-width:768px){
    .thoughts-card .thoughts-text{
      padding-left:37%;
    }
    .thoughts-card .ps{
      bottom:-10px;
    }
  }
  @media(max-width:375px){
    .thoughts-card{
      flex-direction: column;
    }
    .thoughts-card li{
      width:96%;
      margin-bottom: 30px;
    }
    .thoughts-card .thoughts-text{
      padding-left:27%;
    }
    .thoughts-card .ps{
      right:0px;
    }
  }
  /*  index > thoughts  end */
  /*  index > booking   start */
  .booking{
    padding-top:50px ;
    padding-bottom:50px ;
    padding-left: 2%;
    padding-right: 2%;
    color:#3D1101;
    background: rgba(250,250,250,0.70);
  }
  .booking h2{
    font-size: 24px;
    text-align: center;
    line-height:1.2;
  }
  .booking-box{
    display:flex;
    margin-top: 38px;
    justify-content: space-between;
  }
  .booking-box img{
    width:48%;
  } 
  form{
    width:48%;
    position: relative;
  }
  form label{
    display:inline-block;
    margin-bottom: 6px;
  }
  form input{
    display:block;
   }
  form .form-bar{
    width:100%;
    height:32px;
    margin-bottom: 12px;
    padding:5px 12px;
  } 
  form .inline-box{
    display:inline-block;
  }
  form .btn-box{
    position: absolute;
    bottom:0;
    right:0;
    width:40%;
    display:flex;
    justify-content:space-between;
  } 
  .form-btn{
    border:none;
    color:#fff;
    border-radius: 3px;
    width:45%;
    height:32px;
    font-size: 16px;
  }
  .submit-btn{
    background:#F56C23;
  }
  .submit-btn:hover{
    background: #D94600;
  }
  .cancel-btn{
    background: rgba(0,0,0,0.35);
  }
  .cancel-btn:hover{
    background: #000;
  }
  @media(max-width:375px){
    .booking{
      padding-bottom: 82px;
    }
    .booking-box{
      flex-direction: column;
      align-items: center;
    }
    .booking-box img{
      width:96%;
      margin-bottom: 30px;
    } 
    form{
      width:96%;
    }
    form .btn-box{
      bottom:-32px;
    }
  }
  /*  index > booking   end */

  /*  cart > cart-content start */
   .cart-content{
    background: #EFE9E7;
    color:#3D1101;
    padding-top:50px;
    padding-bottom:50px;
    display:flex;
    justify-content: space-evenly;
   }
   .aside-list{
    width:25%;
   }
   .cart-logo{
    display:flex;
    margin-bottom: 16px;
    line-height: 32px;
   }
   .cart-logo i{
    display: inline-block;
   }
   .cart-logo h2{
    font-size: 20px;
    margin-left: 15%;
   }
   .aside-list a{
     display:block;
     background: #EFE9E7;
     border-bottom: 1px solid #3D1101;
     padding-top:10px;
     padding-bottom: 10px;
     padding-left:3%;
     color:#3D1101; 
   }
   .aside-list a:hover{
    color:#fff;
    background: #3D1101;
   }
   @media(max-width:375px){
    .cart-content{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .aside-list{
      width:96%;
     }
     .cart-logo h2{
      margin-left:3%;
     }
     
   }
   .menu-content{
    width:65%;
   }
   .search-bar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-right:3%;
   }
   .search-bar-left{
    background:  #3D1101;
    width:68%;
    display:flex;
    align-items: center;
   }
   .search-bar-left input{
    width:93%;
    border: 2px solid #3D1101;
    border-radius: 3px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 3%;
    
   }
   .search-bar-left a{
    display:block;
    color:#fff;
    padding-left:1.2% ;
  }
  .search-bar-left a:hover{
    transform: scale(1.1);
   }
   .search-bar-right{
    color:#3D1101;
    font-weight: bold;
    width:20%;
    display:flex;
    justify-content: space-between;
    align-items: center;
   }
   .search-bar-right a{
    display:block;
    text-decoration: none;
    color:#3D1101;
   }
   .search-bar-right a:hover{
    transform: scale(1.1);
   }
   .menu-content .menu-card{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 26px;
    text-align: center;
   }
   .menu-content .menu-card li{
    position: relative;
    width:32%;
    margin-bottom:30px;
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);
    padding-bottom: 10px;
   }
   .menu-content .menu-card .like{
    position: absolute;
    top:0;
    left:0;
    color:#fff;
    border-radius:50%;
   }
   .menu-content .menu-card .like:hover,
   .menu-content .menu-card .liked{
    color:pink;
    background:red;
   }
   .menu-content .menu-card img{
     width:100%;
     height:auto;
   }
   .menu-content .menu-card h4{
    margin-top: 11px;
    font-size: 20px;
   }
   .menu-content .menu-card p{
    font-size: 12px;
    line-height: 1.8;
   }
   .menu-content .menu-card .line{
    width:55%;
    height:10px;
    border-bottom: 1px solid #3D1101;
    margin-left: 25%;
   }
   .menu-content .menu-card h3{
    margin-top: 20px;
    margin-bottom: 16px;
    font-size: 20px;
   }
   .menu-content .menu-card button{
    width:90%;
    background: #EFE9E7;
    border: 2px solid #FF5E45;
    color:#FF5E45;
    padding-top:5px;
    padding-bottom:5px;
   }
   .menu-content .menu-card button:hover{
    color:#fff;
    background:#F56C23;
   }
   .menu-content .menu-card button i{
    margin-right:5%;
   }
   @media(max-width:375px){
    .menu-content{
      width:96%;
     }
     .search-bar{
      flex-direction: column;
      margin-top: 30px;
     }
     .search-bar-left{
      width:96%;
     }
     .search-bar-left input{
      width:90%;
     }
     .search-bar-left a{
      padding-left:2%;
     }
     .search-bar-right{
      margin-top: 15px;
      width:40%;
     }
     .menu-content .menu-card{
      flex-direction: column;
      justify-content: center;
     }
     .menu-content .menu-card li{
      width:96%;
     }
   }
  /*  cart > cart-content end */
  /*  login > login-content start */
   .login-content{
    background:#EFE9E7;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color:#3D1101;
   }
   .login-content h2{
    font-size: 48px;
    font-weight: bold;
   }
   .login-content p{
    font-size: 20px;
   }

   .login-form{
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);
    width:30%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 1.5%;
    padding-right: 1.5%;
    margin-top: 35px;
    border-top: 3px solid #FF5E45;
   }
   @media(max-width:768px){
    .login-form{
      width:35%;
    }
   }
   @media(max-width:375px){
    .login-form{
      width:80%;
      padding-left: 3%;
      padding-right: 3%;
    }
  }
   .login-form legend{
    text-align: center;
    font-weight: bold;
   }
   .login-form a{
    display:block;
    margin-bottom: 36px;
    font-size: 14px;
    color:#FF5E45;
    padding: 5px 0px;
   }
   .login-form a:hover{
    font-weight: bold;
   }
   .login-form label{
    margin-top: 15px;
   }
   .login-form input{
    width:100%;
    padding:3px 0 3px 10%;
    height: 32px;
   }
   .email-input-group,
   .password-input-group{
    position: relative;
   }
   .email-input-group .email-i,
   .password-input-group .password-i{
    position: absolute;
    top:25%;
    left:3%;
    color: #3D1101;
   }

   .login-form .login-btn{
    text-align: center;
    display: flex;
    justify-content: space-between;
   }
   .login-form button{
    width:45%;
    border-radius: 3px;
    border:none;
    color:#fff;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
   }
   .login-form .signbtn{
    background: rgba(0,0,0,0.35);
   }
   .login-form .signbtn:hover{
    background: #000;
   }
   .login-form .logbtn{
    background: #F56C23;
  
   }
   .login-form .logbtn:hover{
    background: #BB3D00;
   }

  /*  login > login-content start */
  /*  register > register-content start */
  .register-content{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #3D1101;
    background:#EFE9E7;
    padding-left: 4%;
    padding-right: 4%;
  }
  .register-content h2{
    font-size: 48px;
    font-weight: bold;
  }
  .register-box{
    display:flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);
    width:65%;
    margin-top: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 4px solid #FF5E45 ;
  }
  .register-box h3{
    font-size: 18px;
    font-weight: bold;
  }
  .register-box-text{
    display:flex;
    justify-content:space-between;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 16px;
  }
  .register-term{
   width:48%;
   font-size: 18px;
  }
  .register-form{
    width:48%;
    position: relative;
  }
  .register-form .email-box{
    margin-bottom: 15px;
  }
  .register-form label{
   font-size: 16px;
  }
  .register-form input{
    width:100%;
    height: 32px;
    border-radius: 3px;
    margin-bottom: 12px;
    padding-left: 12%;
  }
  @media(max-width:375px){
    .register-box{
      width:98%;
    }
    .register-box-text{
      flex-direction: column;
    }
    .register-term{
      width:100%;
      margin-bottom: 50px;
    }
    .register-form{
      width:100%;
    }
  }
  .register-form .pass1,
  .register-form .pass2,
  .register-form .email-input{
    position:relative;
  }
  .register-form .pass1 i,
  .register-form .pass2 i,
  .register-form .email-input i{
    position: absolute;
    top:25%;
    left:4%;
  }
  .register-form a{
    display:block;
    color:#FF5E45;
    font-size: 14px;
    margin-bottom: 30px;
    padding:2px 0px;
    margin-bottom: 62px;
  }
  .register-form a:hover{
    color:#BB3D00;
  }
  .register-form button{
    background: #FF5E45;
    border:none;
    color:#fff;
    font-size: 14px;
    width:40%;
    padding-top: 5px;
    padding-bottom: 5px;
    position:absolute;
    bottom:0;
    right:0;
    border-radius: 3px;
  }
  .register-form button:hover{
    background: #BB3D00;
  }
  /*  register > register-content end */